[submodule "3rdparty/bffs"]
	path = 3rdparty/bffs
	url = ../../cdhooper/bffs
[submodule "3rdparty/devtest"]
	path = 3rdparty/devtest
	url = ../../cdhooper/amiga_devtest
[submodule "3rdparty/RDBFlags"]
	path = 3rdparty/RDBFlags
	url = https://github.com/reinauer/RDBFlags
