[submodule "3rdparty/bffs"]
	path = 3rdparty/bffs
	url = ../../cdhooper/bffs
[submodule "3rdparty/devtest"]
	path = 3rdparty/devtest
	url = ../../cdhooper/amiga_devtest
[submodule "3rdparty/RDBFlags"]
	path = 3rdparty/RDBFlags
	url = ../../reinauer/RDBFlags
[submodule "3rdparty/propack"]
	path = 3rdparty/propack
	url = ../../reinauer/propack
[submodule "3rdparty/CDVDFS"]
	path = 3rdparty/CDVDFS
	url = ../../reinauer/CDVDFS
[submodule "3rdparty/libcodesets"]
	path = 3rdparty/libcodesets
	url = ../../reinauer/libcodesets
